<font size="-1">
	<p>
		<b><i>Search Button</i></b><br/>The Search Button with the magnifying glass icon refreshes the status of the Tags (next to the bin) and searches currently unknown Tags.
	</p>
	<p>
		<img src='/plugins/<!--$psubfolder-->/ico_delete.png' border='0' width='32' height='32'> To remove Tags from the current configuration.
		<br/><i>To be used for defective of lost Tags only. If a Tag is in the scanner range, it will be added automatically during next scan.</i>
	</p>
	<p>
		<br/><b><i>Statusdisplay of a Tag (manual):</i></b>
 		<table>
			<tr><td><img src='/plugins/<!--$psubfolder-->/ico_online0.svg' border='0' width='32' height='32'></td><td><small>Red = Out of range</small></td></tr>
			<tr><td><img src='/plugins/<!--$psubfolder-->/ico_online1.svg' border='0' width='32' height='32'></td><td><small>Green = Within radio range</small></td></tr>
 		</table>
 		<i>Note: Refreshed after a search only. Not a realtime value.</i>
	</p>
	<p>
		<b><i>Tag-Usage:</i></b>
 		<table>
			<tr><td><img src='/plugins/<!--$psubfolder-->/check.png'></td><td><small> = Use Tag</small></td></tr>
			<tr><td><img src='/plugins/<!--$psubfolder-->/uncheck.png'></td><td><small> = Ignore Tag</small></td></tr>
		</table>
		<i>If unchecked, the plugin will process no data for this Tag.</i>
	</p>
	<p>
		<b><i>Name/Comment</i></b><br/>To enter a name or comment. (a-z A-Z 0-9 -_ only) 
	</p>
	<p>
		<b><i>[BLE_xx_xx_xx_xx_xx_xx]</i></b><br/>Displays the Bluetooth-MAC-Address of the TAGs.
	</p>
	<p>
		<b><i>Miniserver-Block</i></b><br/>To define, if the data of the Tag (in radio range of not) is send to the respective Miniserver.
	</p>
</font>
