<font size="-1">
	<p>
		<b><i><!--$TXT_UPDATE_STATUS_SEARCH_NEW--></i></b><br/><!--$HLP_UPDATE_STATUS_SEARCH_NEW-->
	</p>
	<p>
		<img src='/plugins/<!--$psubfolder-->/help/ico_delete.png' border='0' width='32' height='32'> <!--$HLP_RECYCLE_BIN-->
		<br/><i><!--$HLP_RECYCLE_BIN_COMMENT--></i>
	</p>
	<p>
		<br/><b><i><!--$HLP_FOUND_ICON--></i></b>
 		<table>
			<tr><td><img src='/plugins/<!--$psubfolder-->/help/ico_online0.svg' border='0' width='32' height='32'></td><td><small><!--$HLP_FOUND_ICON_RED--></small></td></tr>
			<tr><td><img src='/plugins/<!--$psubfolder-->/help/ico_online1.svg' border='0' width='32' height='32'></td><td><small><!--$HLP_FOUND_ICON_GREEN--></small></td></tr>
 		</table>
 		<i><!--$HLP_FOUND_ICON_HINT--></i>
	</p>
	<p>
		<b><i><!--$HLP_TAG_USAGE_CHECKBOX--></i></b>
 		<table>
			<tr><td><img src='/plugins/<!--$psubfolder-->/help/check.png'></td><td><small><!--$HLP_TAG_USAGE_CHECKBOX_CHECKED--></small></td></tr>
			<tr><td><img src='/plugins/<!--$psubfolder-->/help/uncheck.png'></td><td><small><!--$HLP_TAG_USAGE_CHECKBOX_UNCHECKED--></small></td></tr>
		</table>
		<i><!--$HLP_TAG_USAGE_CHECKBOX_COMMENT--></i>
	</p>
	<p>
		<b><i><!--$HLP_TAG_NAME_COMMENT_LABEL--></i></b><br/><!--$HLP_TAG_NAME_COMMENT--> (<!--$TXT_RULE_1-->)
	</p>
	<p>
		<b><i><!--$HLP_TAG_MAC_LABEL--></i></b><br/><!--$HLP_TAG_MAC-->
	</p>
	<p>
		<b><i><!--$HLP_MS_BLOCK_LABEL--></i></b><br/><!--$HLP_MS_BLOCK-->
	</p>
	<p>
		<b><i><!--$HLP_LOXBERRY_ID_LABEL--></i></b><br/><!--$HLP_LOXBERRY_ID-->
	</p>
</font>
