<font size="-1">
	<p>
		<b><i>Suchen Schaltfl&auml;che</i></b><br/>Die Schaltfl&auml;che mit der Lupe aktualisiert den Status der Tags (rechts neben dem M&uuml;lleimer) und sucht bisher unbekannte Tags.
	</p>
	<p>
		<img src='/plugins/<!--$psubfolder-->/help/ico_delete.png' border='0' width='32' height='32'> Damit k&ouml;nnen Tags aus der Konfiguration entfernt werden.
		<br/><i>Nur f&uuml;r defekte oder verlorene Tags. Denn sind die Tags jedoch in Reichweite des Scanners, werden sie automatisch wieder hinzugef&uuml;gt.</i>
	</p>
	<p>
		<br/><b><i>Statusanzeige des Tags (manuell):</i></b>
 		<table>
			<tr><td><img src='/plugins/<!--$psubfolder-->/help/ico_online0.svg' border='0' width='32' height='32'></td><td><small>Rot = Nicht in Reichweite</small></td></tr>
			<tr><td><img src='/plugins/<!--$psubfolder-->/help/ico_online1.svg' border='0' width='32' height='32'></td><td><small>Gr&uuml;n = In Reichweite</small></td></tr>
 		</table>
 		<i>Hinweis: Wird nur nach einer Suche aktualisiert. Nicht in Echtzeit.</i>
	</p>
	<p>
		<b><i>Tag-Verwendung:</i></b>
 		<table>
			<tr><td><img src='/plugins/<!--$psubfolder-->/help/check.png'></td><td><small> = Tag verwenden</small></td></tr>
			<tr><td><img src='/plugins/<!--$psubfolder-->/help/uncheck.png'></td><td><small> = Tag nicht verwenden</small></td></tr>
		</table>
		<i>Wird kein H&auml;kchen gesetzt, werden f&uuml;r diesen Tag keine Daten vom Plugin ausgegeben.</i>
	</p>
	<p>
		<b><i>Name/Kommentar</i></b><br/>Hier kann ein Name oder Kommentar eingegeben werden. (Nur a-z A-Z 0-9 -_ ) 
	</p>
	<p>
		<b><i>[BLE_xx_xx_xx_xx_xx_xx]</i></b><br/>Hier wird die Bluetooth-MAC-Adresse des TAGs angezeigt.
	</p>
	<p>
		<b><i>Miniserver-Block</i></b><br/>Zur Festlegung, ob die Daten des Tags (in Reichweite oder nicht) an den jeweiligen Miniserver gesendet werden sollen.
	</p>
</font>
