									<center>
										<img src="<TMPL_VAR LOGO_ICON>"><br>
									</center>
									<br>
									<div id="notifblock">
										<!-- NOTIFICATIONS //-->
										<TMPL_VAR NOTIFICATIONS>
										<!-- NOTIFICATIONS //-->
									</div>
									<center>
									<b><TMPL_VAR GENERAL.HEADER_TEXT></b>
									</center>
									<div id="dialog"></div>
									<form method="post" data-ajax="false" name="main_form" id="main_form" action="./index.cgi">

									<link rel="stylesheet" href="/plugins/<TMPL_VAR LBPPLUGINDIR>/style.css">
									<script src="/plugins/<TMPL_VAR LBPPLUGINDIR>/jquery-ui-1.9.2.custom.min.js"></script>
									<center>
													<script>
														var at_least_one=0;
														var firstrun=1;
														function delete_tag(tag_mac,tag_comment)
														{
															ConfirmDialog(tag_mac,'<br/><table><tr><td><img src="/plugins/<TMPL_VAR LBPPLUGINDIR>/ico_delete.png"></td><td><TMPL_VAR GENERAL.TXT_DELETE_TAG><br/><br/><center><b>"'+tag_comment+'"</b><br/><font face=Courier><small>'+tag_mac+'</small></font></center></td></tr></table><br/>','<TMPL_VAR GENERAL.MY_NAME> - <TMPL_VAR GENERAL.TXT_DELETE_TAG_DIALOG_TITLE>');
														}
														function refresh_strings()
														{
															var totalCheckboxes = $('input:checkbox').length;
															if (totalCheckboxes === 0)
															{
																$('#configured_tags').html('<b><TMPL_VAR GENERAL.TXT_NO_TAGS><b>');
																$('#mark_tag_hint').html('');
															}
															else
															{
																$('#configured_tags').html('<b><TMPL_VAR GENERAL.TXT_BLUETOOTH_TAGS><b>');
																$('#mark_tag_hint').html('<TMPL_VAR GENERAL.TXT_MARK_TAG_HINT>');
															}
														}
														function ms_scripting(msdata)
														{
															$('#MS_'+msdata).click(function()
															{
																if (!$('#MS_'+msdata).is(':checked'))
																{
																	$('label[for=MS_'+msdata+']').removeClass('ui-checkbox-on').addClass('ui-checkbox-off');
																	$('#MS_'+msdata+'Hidden').disabled = false;
																	$('#MS_'+msdata+'Hidden').val('off');
																	return;
																}
																else
																{
																	$('label[for=MS_'+msdata+']').removeClass('ui-checkbox-off').addClass('ui-checkbox-on');
																	$('#MS_'+msdata+'Hidden').disabled = true;
																	$('#MS_'+msdata+'Hidden').val('on');
																	return;
																}
															});
														}
														function reset_rssi()
														{
															$('.rssitag').each(function(i, obj) 
															{
																$(obj).attr('src', '/plugins/<TMPL_VAR LBPPLUGINDIR>/coverage_none.svg');
																$(obj).prop('alt', '<TMPL_VAR GENERAL.TXT_NO_SIGNAL>');
																$(obj).prop('title', '<TMPL_VAR GENERAL.TXT_NO_SIGNAL>');
															});
															$('.ico_online').each(function(i, obj) 
															{
																$(obj).attr('src', '/plugins/<TMPL_VAR LBPPLUGINDIR>/ico_online0.svg');
															});
														}
														function tag_rssi(valueID,rssi)
														{
															if (rssi < -80) 
															{
																level = 'weak';
																str_level = '<TMPL_VAR GENERAL.TXT_WEAK_SIGNAL> ('+rssi+' dB)';
															}
															else if (rssi >= -80 && rssi < -50 ) 
															{
																level = 'medium';
																str_level = '<TMPL_VAR GENERAL.TXT_GOOD_SIGNAL> ('+rssi+' dB)';
															}
															else if (rssi >= -50 ) 
															{
																level = 'strong';
																str_level = '<TMPL_VAR GENERAL.TXT_STRONG_SIGNAL> ('+rssi+' dB)';
															}
															else
															{
																level = 'none';
																str_level = '<TMPL_VAR GENERAL.TXT_NO_SIGNAL>';
															}
															$('#rssi'+valueID).attr('src', '/plugins/<TMPL_VAR LBPPLUGINDIR>/coverage_'+level+'.svg');
															$('#rssi'+valueID).prop('alt', str_level);
															$('#rssi'+valueID).prop('title', str_level);
														}
														function tag_scripting(valueID)
														{
															var new_tag_inputtext	='<TMPL_VAR GENERAL.TXT_ENTER_TAG_NAME_HERE>';
															if (!$('#'+valueID).is(':checked'))
															{
																$('#'+valueID+'msdiv').fadeOut( 400 );
															}
															else
															{
																$('#'+valueID+'msdiv').fadeIn( 400 );
															}
															$('#'+valueID).click(function()
															{
																if (!$('#'+valueID).is(':checked'))
																{
																	$('label[for='+valueID+']').removeClass('ui-checkbox-on').addClass('ui-checkbox-off');
																	$('#'+valueID+'Hidden').disabled = false;
																	$('#'+valueID+'Hidden').val('off');
																	$('#'+valueID+'msdiv').fadeOut( 400 );
																	return;
																}
																else
																{
																	$('label[for='+valueID+']').removeClass('ui-checkbox-off').addClass('ui-checkbox-on');
																	$('#'+valueID+'Hidden').disabled = true;
																	$('#'+valueID+'Hidden').val('on');
																	$('#'+valueID+'msdiv').fadeIn( 400 );
																	return;
																}
															});
															$('#div'+valueID).on('focus', function() { if ($('#div'+valueID).html()=== new_tag_inputtext) { $('#div'+valueID).html('');$('#div'+valueID).css('width','300px'); }});
															$('#div'+valueID).on('blur keyup paste input', function()
															{
																var rule = /^[0-9A-Za-z\-\_\s]+$/;
																if(!rule.test($('#div'+valueID).text()) &&  $('#div'+valueID).html().length )
																{
																	$('#form-error-message').html('<TMPL_VAR GENERAL.TXT_RULE_1>');
																	$('#div'+valueID).text($('#div'+valueID).text().replace(/[^0-9A-Za-z\-\_\s]/g, ""));
																	var offset = $('#div'+valueID).offset();
																	$('#form-error-message').fadeIn(400);
																	$('#form-error-message').css({'padding': '5px', 'border': '1px solid #FF0000', 'border-radius': '5px', 'color': '#FF0000', 'background-color': '#FFFFC0', 'z-index': 1000, 'top': offset.top - 35, 'left': offset.left, 'position':'absolute'});
																	setTimeout( function()
																		{ $('#form-error-message').fadeOut(400); }, 3000);
																}
																$('#comment'+valueID).prop('value',$('#div'+valueID).text()+' ');
															});
															$('#main_form').on('submit', function()
															{
																if($('#'+valueID).checked)
																{
																	$('#'+valueID+'Hidden').disabled = true;
																} return;

															});
														}
														function ConfirmDialog(tag_mac,message,title)
														{
															$('#dialog').html(message)
																.prop('id','dialog')
																.dialog(
																{
																	modal: true, title: title, zIndex: 10000, autoOpen: true,
																	width: 'auto', resizable: false,
																	buttons:
																	{
																		<TMPL_VAR GENERAL.TXT_BTN_YES>: function ()
																		{
																			$('#BLETAG'+tag_mac).empty();
																			refresh_strings();
																			$(this).dialog("close");
																		},
																		<TMPL_VAR GENERAL.TXT_BTN_NO>: function ()
																		{
																			$(this).dialog("close");
																		}
																	},
																	close: function (event, ui)
																	{
																		$(this).hide();
																	}
																});
														};
														function Scan_no_results(title,message)
														{
															$('#dialog').html(message)
																.prop('id','dialog')
																.dialog(
																{
																	modal: true, title: '<TMPL_VAR GENERAL.MY_NAME> - '+title, zIndex: 10000, autoOpen: true,
																	width: 'auto', resizable: false,
																	buttons:
																	{
																		"<TMPL_VAR GENERAL.TXT_PITY>": function ()
																		{
																			$(this).dialog("close");
																		},
																		"<TMPL_VAR GENERAL.TXT_AGAIN>": function ()
																		{
																			$('#btnscan').trigger('click');
																			$(this).dialog("close");
																		}
																	},
																	close: function (event, ui)
																	{
																		$(this).hide();
																	}
																});
														};
														var svg_loader ="<div class='circle one'></div><div class='circle two'></div><div class='circle three'></div><TMPL_VAR GENERAL.TXT_SEARCHING>";
													</script>
													<style>
														@keyframes circle
														{
															from
															{
																transform: scale(0)
															}
															to
															{
																transform: scale(32)
															}
														}
														.circle
														{
															margin: 0 auto;
															width: 35px;
															height: 35px;
															border: 5px solid rgba(0, 130, 252, .5);
															-webkit-background-clip: padding-box; /* for Safari */
															background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
															border-radius: 70px;
															position: absolute;
															top: -6px;
															left: -8px;
														}
														.one
														{
															animation: circle 4s infinite linear;
														}
														.two
														{
															animation: circle 3s infinite linear;
														}
														.three
														{
															animation: circle 2s infinite linear;
														}
													</style>
																<a style="width:400px;" id="btnscan" data-icon="search" data-role="button" data-mini="true" onclick="reset_rssi(); var data=''; $('#btnscan').prop('innerHTML',svg_loader); $.getJSON('/plugins/<TMPL_VAR LBPPLUGINDIR>/?mode=scan',
																function(data)
																{
																	if(typeof data['error'] !== 'undefined')
																	{
																		$('#btnscan').text( '<TMPL_VAR GENERAL.TXT_UPDATE_STATUS_SEARCH_NEW>' );
																		Scan_no_results('<TMPL_VAR GENERAL.TXT_DIALOG_SEARCH_ERROR>','<table height=\'75px\'><tr><td valign=center><img src=\'/plugins/<TMPL_VAR LBPPLUGINDIR>/no_tags.png\'></td><td>&nbsp;</td><td valign=center align=center><br/><TMPL_VAR GENERAL.TXT_DIALOG_ERROR_LOXBERRY><br/><br/><font face=courier color=red><b>'+data['error']+'</b><br/>'+data['result']+'</font></td></tr></table>');
																	}
																	else
																	{
																		$.each(data, function (index, value)
																		{
																			if ( !$('#'+value['id'] ).length )
																			{
																				at_least_one=1;
																				var new_tag_inputtext	='<TMPL_VAR GENERAL.TXT_ENTER_TAG_NAME_HERE>';
																				$( '<div id=\'BLETAG'+value['id']+'\'> 																																																																																																																																																																												      \
																							<div id=\'wrap'+value['id']+'\'>                                                                                                                                                                                                                                                                                                                                                              \
																								 <table>                                                                                                                                                                                                                                                                                                                                                                                    \
																									<tr>                                                                                                                                                                                                                                                                                                                                                                                      \
																										<td>    																																																																																																																																																																																					      \
																											<img style=\' opacity: 0.3; filter: alpha(opacity=30);\' src=\'/plugins/<TMPL_VAR LBPPLUGINDIR>/ico_delete.png\' border=\'0\' width=\'48\' height=\'48\'></a>                                                                                                                                                                                                               					      \
																										</td>                                                                                                                                                                                                                                                                                                                                                                                   \
																										<td>    																																																																																																																																																																																					      \
																											<img class=\'ico_online\' id=\''+value['id']+'found\' src=\'/plugins/<TMPL_VAR LBPPLUGINDIR>/ico_online'+value['found']+'.svg\' border=\'0\' width=\'48\' height=\'48\'>                                                                                                                                                                                                            	      \
																										</td>                                                                                                                                                                                                                                                                                                                                                                                   \
																										<td>                                                                                                                                                                                                                                                                                                                                                                                    \
																											<input style=\'display:none\' id=\''+value['id']+'\'        name=\''+value['id']+'\' 			 type=\'checkbox\' data-cacheval=\'false\' unchecked mac=\''+value['id']+'\'>                                                                                                                                                                                                               \
																												<div class=\'ui-checkbox\'>                                                                                                                                                                                                                                                                                                                                                         \
																													<label for=\''+value['id']+'\' class=\'ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-checkbox-off\'>                                                                                                                                                                                                                                                                    \
																														<table>                                                                                                                                                                                                                                                                                                                                                                         \
																															<tr>                                                                                                                                                                                                                                                                                                                                                                          \
																																<td>                                                                                                                                                                                                                                                                                                                                                                        \
																																	<div data-validation=\'length alphanumeric\' data-validation-length=\'1-32\' data-validation-allowing=\'-_\' class=\'editable\' contenteditable=\'true\' style=\'width:300px; padding:2px; border: 1px solid #7e7e7e; border-radius: 5px; color: #1166FF; font-weight: bold; background-color: #e9e9e9; \' id=\'div'+value['id']+'\'>'+new_tag_inputtext+'</div>          \
																																</td>                                                                                                                                                                                                                                                                                                                                                                       \
																																<td>                                                                                                                                                                                                                                                                                                                                                                        \
																																	<small>                                                                                                                                                                                                                                                                                                                                                                   \
																																		<font color=\'#1166FF\' face=\'courier\'>                                                                                                                                                                                                                                                                                                                					      \
																																			['+value['id']+']                                                                                                                                                                                                                                                                                                                                                     \
																																		</font>                                                                                                                                                                                                                                                                                                                                                                 \
																																	</small>                                                                                                                                                                                                                                                                                                                                                                  \
																																</td>                                                                                                                                                                                                                                                                                                                                                                       \
																																<td>																																																																																																																																																																																	      \
																																	<small>                                                                                                                                                                                                                                                                                                                                                                   \
																																		<font color=\'#1166FF\' face=\'courier\'>                                                                                                                                                                                                                                                                                                                					      \
																																			<img tagid=\''+value['id']+'\' class=\'rssitag\' id=\'rssi'+value['id']+'\' title=\'<TMPL_VAR GENERAL.TXT_NO_SIGNAL>\' alt=\'<TMPL_VAR GENERAL.TXT_NO_SIGNAL>\' width=\'32px\' height=\'32px\'src=\'/plugins/<TMPL_VAR LBPPLUGINDIR>/signal.svg\'/>                                                                                                                                              \
																																		</font>                                                                                                                                                                                                                                                                                                                                                                 \
																																	</small>                                                                                                                                                                                                                                                                                                                                                                  \
																																</td>                                                                                                                                                                                                                                                                                                                                                                       \
																															</tr>                                                                                                                                                                                                                                                                                                                                                                         \
																														</table>                                                                                                                                                                                                                                                                                                                                                                        \
																													</label>                                                                                                                                                                                                                                                                                                                                                                          \
																												</div>                                                                                                                                                                                                                                                                                                                                                                              \
																											<input name=\'comment'+value['id']+'\' id=\'comment'+value['id']+'\' type=\'hidden\' value=\''+new_tag_inputtext+'\'>                                                                                                                                                                                                                                                                 \
																											<input id=\''+value['id']+'Hidden\'  name=\''+value['id']+'\' 			 type=\'hidden\'     value=\'off\'>                                                                                                                                                                                                                                                                               \
																										</td>                                                                                                                                                                                                                                                                                                                                                                                   \
																										<td>                                                                                                                                                                                                                                                                                                                                                                                    \
																											<div style=\'  margin-left:5px; background: url(/plugins/<TMPL_VAR LBPPLUGINDIR>/info.svg); background-position: bottom right; background-repeat: no-repeat; border-radius: 20px 5px 20px 5px ;border: 1px dotted #6AB3F8;padding: 5px; vertical-align:middle; cursor:default; height: 43px; \'><nobr><font color=\'#6AB3F8\'><i><TMPL_VAR GENERAL.TXT_SAVE_BEFORE_MS_CONFIG></i></font></nobr></div> \
																										</td>                                                                                                                                                                                                                                                                                                                                                                                   \
																									</tr>                                                                                                                                                                                                                                                                                                                                                                                     \
																								</table>                                                                                                                                                                                                                                                                                                                                                                                    \
																							</div>																																																																																																																																																																																									      \
																						</div>').appendTo($('#tags'));
																						$('#'+value['id']).prop('visibility','hidden');
																						tag_scripting(value['id']);
																						tag_rssi(value['id'],value['rssi']);
																			}
																			else
																			{
																				$('#'+value['id']+'found').attr('src', '/plugins/<TMPL_VAR LBPPLUGINDIR>/ico_online'+value['found']+'.svg');
																				tag_rssi(value['id'],value['rssi']);
																			}
																		});
																		if (at_least_one == 0)
																		{
																			if ( firstrun == 0 )
																			{
																				Scan_no_results('<TMPL_VAR GENERAL.TXT_DIALOG_SEARCH_DONE>','<table height=\'75px\'><tr><td><img src=\'/plugins/<TMPL_VAR LBPPLUGINDIR>/no_tags.png\'></td><td>&nbsp;</td><td valign=center><TMPL_VAR GENERAL.TXT_DIALOG_NO_NEW_TAGS></td></tr></table>');
																			}
																			else
																			{
																					firstrun = 0;
																			}
																		}
																		$('#btnscan').text( '<TMPL_VAR GENERAL.TXT_UPDATE_STATUS_SEARCH_NEW>' );
																	}
																	refresh_strings();
																});
																"><TMPL_VAR GENERAL.TXT_UPDATE_STATUS_SEARCH_NEW></a>

									</center>
										<input type="hidden" name="saveformdata" value="1">
										<input type="hidden" name="VERSION" value="<TMPL_VAR VERSION>">
										<input type="hidden" name="MINISERVERS"  value="<TMPL_VAR MINISERVERS>">
										<div class="form-group">
											<table class="formtable" border="0" width="100%">
												<tr>
													<td width="20%">
														&nbsp;
													</td>
													<td width="50%">
														<div style="cursor:default; id="tag_div">
															<fieldset id="tags">
																<legend id="configured_tags"></legend>
																	<TMPL_LOOP NAME="TAGROW">
																	<div id='BLETAG<TMPL_VAR TAG_MAC>'>
																		<div id='wrap<TMPL_VAR TAG_MAC>'>
																			 <table>
																			 	<tr>
																			 		<td>
																			 			<a onclick="delete_tag('<TMPL_VAR TAG_MAC>',$('#comment<TMPL_VAR TAG_MAC>').val());" href='javascript:void(0);'><img src='/plugins/<TMPL_VAR LBPPLUGINDIR>/ico_delete.png' border='0' width='48' height='48'></a>
																			 		</td>
																			 		<td>
																			 			<img class='ico_online' id='<TMPL_VAR TAG_MAC>found' src='/plugins/<TMPL_VAR LBPPLUGINDIR>/ico_online0.svg' border='0' width='48' height='48'>
																			 		</td>
																			 		<td>
																		 				<input id='<TMPL_VAR TAG_MAC>'        name='<TMPL_VAR TAG_MAC>' 			 type='checkbox' <TMPL_VAR TAG_USE> mac='<TMPL_VAR TAG_MAC>'>
																			 				<div class='ui-checkbox'>
																			 					<label for='<TMPL_VAR TAG_MAC>' class='ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-checkbox-off'>
																			 						<table>
																			 							<tr>
																			 								<td>
																			 									<div data-validation='length alphanumeric' data-validation-length='1-32' data-validation-allowing='-_' class='editable' contenteditable='true' style='width:300px; padding:2px; border: 1px solid #7e7e7e; border-radius: 5px; color: #6DAC20; font-weight: bold; background-color: #e9e9e9; ' id='div<TMPL_VAR TAG_MAC>'><TMPL_VAR TAG_COMMENT></div>
																			 								</td>
																			 								<td>
																			 									<small>
																			 										<font color='#6DAC20' face='courier'>
																			 											[<TMPL_VAR TAG_MAC>]
																			 										</font>
																			 									</small>
																			 								</td>
																			 								<td>
																			 									<small>
																			 										<font color='#6DAC20' face='courier'>
																				 										<img tagid='<TMPL_VAR TAG_MAC>' class='rssitag' id='rssi<TMPL_VAR TAG_MAC>' title='<TMPL_VAR GENERAL.TXT_NO_SIGNAL>' alt='<TMPL_VAR GENERAL.TXT_NO_SIGNAL>' width='32px' height='32px' src='/plugins/<TMPL_VAR LBPPLUGINDIR>/coverage_none.svg' />
																			 										</font>
																			 								  <small>
																			 								</td>
																			 							</tr>
																			 						</table>
																			 					</label>
																							</div>
																			 			<input name='comment<TMPL_VAR TAG_MAC>' id='comment<TMPL_VAR TAG_MAC>' type='hidden' value='<TMPL_VAR TAG_COMMENT>'>
																	 					<input id='<TMPL_VAR TAG_MAC>Hidden'  name='<TMPL_VAR TAG_MAC>' 			 type='hidden'     value='<TMPL_VAR TAG_USE_HIDDEN>'>
																			 		</td>
																		 			<td>
																		 				<div id='<TMPL_VAR TAG_MAC>msdiv'><table><tr>
																							<TMPL_LOOP NAME="MSROW">
																								<td><label for="MS_<TMPL_VAR TAG_MAC><TMPL_VAR MS_NUMBER>"><nobr>#<TMPL_VAR MS_NUMBER> <small><small>[<TMPL_VAR MS_DISPLAY_NAME>]</small></small></nobr></label><input <TMPL_VAR MS_USED> name="MS_<TMPL_VAR TAG_MAC><TMPL_VAR MS_NUMBER>" type="checkbox" id="MS_<TMPL_VAR TAG_MAC><TMPL_VAR MS_NUMBER>"><input name="MS_<TMPL_VAR TAG_MAC><TMPL_VAR MS_NUMBER>" type="hidden" id="MS_<TMPL_VAR TAG_MAC><TMPL_VAR MS_NUMBER>Hidden" value="<TMPL_VAR MS_USED_HIDDEN>"><SCRIPT> ms_scripting('<TMPL_VAR TAG_MAC><TMPL_VAR MS_NUMBER>');</SCRIPT></td>
																							</TMPL_LOOP>	 				
																		 				</tr></table></div>
																		 			</td>
																			 	</tr>
																			</table>
																	 		 <script>tag_scripting('<TMPL_VAR TAG_MAC>','');</script>
																		</div>
																	</div>
																	</TMPL_LOOP>
															</fieldset>
														</div>
													</td>
													<td width="20%">
														&nbsp;
													</td>
												</tr>
												<tr>
													<td width="20%">
														&nbsp;
													</td>
													<td align="right" width="50%">
														<span style="cursor:default;" width=100% align=right><i><small><font color="#808080"><span id="mark_tag_hint"><TMPL_VAR GENERAL.TXT_MARK_TAG_HINT></span></font></small><i></span>
													</td>
													<td width="20%">
														&nbsp;
													</td>
												</tr>
												<tr>
													<td></td>
													<td colspan=3>
														<div id="form-error-message" class="form-error-message">&nbsp;</div>
													</td>
												</tr>
												<tr><td width="20%">&nbsp;</td><td><table><tr><td><b><TMPL_VAR GENERAL.TXT_LOXBERRY_ID></b>&nbsp;</td><td><input type="text"   name="LOXBERRY_ID"  value="<TMPL_VAR LOXBERRY_ID>"></td></tr></table></td></tr>
											</table>
										</div>
									</form>
									<p>
										<center>
											<a id="btncancel" data-role="button" data-inline="true" data-mini="true" data-icon="delete" href="/admin/index.cgi"><TMPL_VAR GENERAL.TXT_CANCEL></a>
											<button type="submit" form="main_form" id="btnsubmit" data-role="button" data-inline="true" data-mini="true" data-icon="check"><TMPL_VAR GENERAL.TXT_SAVE></button>
										</center>
									</p>
									<center>
										<div style="display:table;">
											<div style="display:table-row;">
												<div style="display:table-cell; ">
													<div style="display:table; padding:10px; border: 1px solid black; border-radius: 5px; background-color: rgba(19,172,132,.2);">
													<TMPL_VAR LOGGING.LOG_AREA> (<TMPL_VAR LOGLEVEL>)<br>
												 		<div style="display:table-row;">
															<div style="display:table-cell; border-radius: 5px;" id="delete_log_div">
													 			<button id="delete_log_btn" onclick="$('#delete_log_div').css('background-color','yellow'); $('#delete_log_btn').html('<TMPL_VAR LOGGING.LOG_BUTTON_DELETE_WORKING>'); $.ajax({url: '', type: 'GET', data: { 'delete_log':1},
														            success: function (data) {
														                $('#delete_log_div').css('background-color','green');
														                $('#delete_log_btn').html('<TMPL_VAR LOGGING.LOG_BUTTON_DELETE_OK>');
														                setTimeout( function() { $('#delete_log_div').css('background-color',''); $('#delete_log_btn').html('<TMPL_VAR LOGGING.LOG_BUTTON_DELETE>'); }, 2000);
														            },
														            error: function (textStatus, errorThrown) {
														                $('#delete_log_div').css('background-color','red');
														                $('#delete_log_btn').html('<TMPL_VAR LOGGING.LOG_BUTTON_DELETE_FAIL>');
														                setTimeout( function() { $('#delete_log_div').css('background-color',''); $('#delete_log_btn').html('<TMPL_VAR LOGGING.LOG_BUTTON_DELETE>');}, 2000);
														
														            }	}); return false;" data-role="button" data-inline="true" data-mini="true"><TMPL_VAR LOGGING.LOG_BUTTON_DELETE></button>
													 			<button onclick="window.open('/admin/system/tools/logfile.cgi?logfile=<TMPL_VAR LOGFILE>&amp;header=html&amp;format=template', 'log'); return false;" id="logview" data-role="button" data-inline="true" data-mini="true"><TMPL_VAR LOGGING.LOG_BUTTON_VIEW></button>
													 			<SCRIPT> 
								 					 	 			$("label").css("text-align","left").css("margin-top","8px").css("margin-bottom","-8px").css("margin-left","0px");
																</SCRIPT>
															</div>
												 		</div>
													</div>
											 	</div>
										 	</div>
									 	</div>
									</center>
									<small><small><TMPL_VAR VERSION></small></small>
									<script>
										var $messages = $('#form-error-message');
										$messages.fadeOut(1);
										$.validate(
										{
											modules : 'security',
											errorMessagePosition : $messages,
										});
										$( document ).ready(function()
										{
											$('#btnscan').trigger('click');
										});
									</script>

